/* Background and padding */
.header {
    overflow: hidden;
    background: linear-gradient(rgb(230, 174, 119), rgb(238, 176, 82));
    padding: 10px;
    height: 120px; 
  }

  /* Title */
.titleHero {
    text-align: center;
    font-size: 35px; 
    font-family: "Optima", sans-serif; 
    color: rgb(9, 116, 89);
    font-weight: bold;
    margin-top: 1px;
    text-indent: 5px;
    padding: 5px;
  }
  
 /* Logo */
.logo {
    font-weight: bold;
    text-align: left;
    position: absolute;
    left: 10px;
    top: 20px;
    height: 80px;
    max-height: 400px;
    width: 100%;
    background-size: 100%; 
  }

/* Subheading */
.subHead {
    text-align: center;
    font-size: 18px; 
    font-family: "Optima", sans-serif; 
    text-decoration: overline;
    border-top: -60px solid transparent;
    color: rgb(9, 116, 89);
    line-height: 0%;
    white-space: nowrap;
    margin: 10px 0;
    margin-top: -1em;
    text-indent: 2em;
    padding: 35px;
}

/* Dropdown box */
.User {
  text-align: right;
  position: absolute;
  right: 20px;
  top: 15px;  
  box-sizing: border-box;
  padding: 5px;
  margin: 0 auto;
  outline: none;
  cursor: pointer;
  display: block;
  text-decoration: none;
  opacity: 1;
  pointer-events: auto; 
  background-color: green;
  font-weight: bold;
}

* {
    box-sizing: border-box;
}

.main-search, .main-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.calorieSection, .searchSection, .bio, .progress {
    margin: 20px;
    flex: 1 40%;
}

.boxBorder {
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);    
}

.searchResult {
    margin: 5px 20px;
    flex: 1 40%;
    max-width: calc(50% - 40px);
    display: flex;
    font-size: 18px;
    justify-content: space-around;
    max-height: 150px;
    align-items: center;
}

.searchResult img {
    height: 100%;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
}

.buttonContainer button {
    margin: 5px 0;
}

.menuOveride {
    min-width: auto;
}

.form-control {
    background: transparent;
    border: none;
    resize: none;
    color: rgb(38, 38, 221);
    max-width: 50px;
}

.form-control:focus {
    background: transparent;
    border: none;
    resize: none;
    outline: none;
}

.editDelete:hover {
    cursor:pointer;
}

.avataar {
    margin: 20px;
    flex: 1 20%;
}

.bio, .prog {
    margin: 20px;
    flex: 1 35%;
}
.hero {
    display: flex;
    flex-direction: row;
}

/* stylesfor the weather section */
#cardElementsContainer{
    display: flex;
    flex-direction: row;
}
